body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
gambar {
  top: 50px;
  left: 50px;
  height: 50%;
  width: 50%;
}

header {
  background-color: #333333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

.pencarian {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pencarian form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pencarian input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pencarian button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.produk {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produk-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produk2 {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produk-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produk-item {
  margin: 20px;
  width: 300px;
  height: 280px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.produk-item:hover {
  transform: scale(1.2);
}

.produk-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.produk-item.tipe-1 img {
  height: 150px;
  width: 300px;
}

.produk-item.tipe-2 img {
  height: 100px;
}

.produk-item h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.produk-item p {
  font-size: 14px;
  color: #666;
}

.produk-item button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.produk-item .tipe-produk {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.notifikasi {
  position: fixed;
  top: 25%;
  left: 20%;
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #000;
  z-index: 1;
}

.notifikasi::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.tutup-notifikasi {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.tutup-notifikasi:hover {
  background-color: #ddd;
}

.notifikasi h2 {
  color: #FFFFFF;
  margin-top: 0;
}

.notifikasi form {
  margin-top: 20px;
}

.notifikasi label {
  color: #FFFFFF;
  display: block;
  margin-bottom: 10px;
}

.notifikasi input[type="text"], .notifikasi input[type="number"] {
  width: 90%;
  background-color: #CCCCCC;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-bottom: 20px;
}

.notifikasi button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}